/**
 * Body
 */

body {
  background-image: url(../../res/LogInBackground.jpg);
  background-size: cover;
  --bg-color: #EEE;
  --panel-color: rgb(2, 32, 66);

  --main-color: rgb(36, 68, 156);

  --dark-color: #333;
  --light-color: rgb(204, 204, 204);

  --serif-font: 'Merriweather';
  --sans-font: 'Open Sans Condensed';

  --success-bg-color: #DFF2BF;
  --success-fg-color: #4F8A10;

  --error-bg-color: #FFD2D2;
  --error-fg-color: #D8000C;

  background-color: var(--bg-color);
}

/**
 * Generic
 */

a, p, input, li {
  font-family: var(--serif-font), serif;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-font), sans-serif;
}

input[type=text], input[type=password] {
  box-sizing: border-box;

  padding: 1em 0;

  border: 0;
  border-bottom: 1px solid var(--light-color);

  background-color: var(--panel-color);
}

button {
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

/**
 * Login
 */

 #login, #signup {
  width: 30em;

  margin: 2em auto;

  border: 1px solid var(--light-color);

  background: rgb(2, 32, 66);
}

#login > form > input[type=submit], #signup > form > input[type=submit]{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#login > form > input[type=submit]:hover, #signup > form > input[type=submit]:hover{
  background-color: rgb(23, 95, 143); /* Green */
  color: white;
}

#login header, #signup header {
  color: var(--panel-color);
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  background: rgb(2, 32, 66);  
}

#login header h2, #signup header h2 {
  margin: 0;
}

#login form, #signup form {
  margin: 0;
  padding: 1em;

  background-color: var(--panel-color);
} 

#login input, #signup input {
  display: block;
  margin: 1em 0;
  width: 100%;
}

#login footer p, #signup footer p {
  margin: 0;
  padding-bottom: 2em;

  text-align: center;
  background-color: var(--panel-color);
}

#login > form > input[type=submit], #signup > form > input[type=submit]{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#login > form > input[type=submit]:hover, #signup > form > input[type=submit]:hover{
  background-color: rgb(37, 156, 117);
  color: white;
}

input[type=text], input[type=password] {
  box-sizing: border-box;

  padding: 1em 0;

  border: 0;
  border-bottom: 1px solid var(--light-color);

  background-color: rgb(2, 32, 66);
}

input[type="submit"], input[type="button"] {
  padding: 1em;

  background: rgb(33, 91, 124);
  color: var(--panel-color);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;

  border:none;
  border-radius: 2px;

  text-transform: uppercase;
}
.header-flexbox {
  display: flex;

  padding: 5px;
  background: rgba(107, 187, 154, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.login-header {
  padding: 5px;
  background: rgba(107, 187, 154, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.login-flexbox {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

.login-flexbox > a:not(.active) {
  text-align: center;
  font-size: 0.7em;
  color: white;
  background: rgb(58, 56, 56);
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  background: rgb(37, 156, 117);
  text-align: center;
  font-size: 0.7em;
  color: white;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Arial, Helvetica, sans-serif;
}


/**
* Profile
*/

.profile {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.profile > a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.editProfile {
  color: white;
  background-color: var(--main-color);
  text-align: center;
  max-width: 300px;
  margin: auto;
  font-size: 18px;
  padding: 5px;
}
.editProfile > a {
  color: white;
}

.editProfile:hover {
  opacity: 0.7;
}

/**
*Header
*/


.story {
  display: block;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.storytext {
  margin-left: 5px;
}
.comment-op > p{
  margin:0;
}

.comment-text {
  padding-left: 10px;
}
.parent-comment {
  border-left: 3px solid var(--main-color);
  padding: 5px;
  background: rgba(192, 192, 192, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}
.post {
  display: block;
  padding: 5px;
  border: 3px solid var(--main-color);;
  margin: 1em;
  padding: 10px;
  background: rgba(192, 192, 192, 0.541);
}

.title {
  text-align: center;
  padding-left: 30px;
}
.flex-container-3 {
  display: flex;
  font-size: 1.5em;
}

#stories {
  display: block;
}
#list {
  padding: 5px;
  background: rgba(240, 250, 249, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#sorting {
  padding: 5px;
  background: rgba(240, 250, 249, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 5px;
  
}

#sorting > input {
  font-size: 16px;
  background-color: rgb(83, 92, 175); /* Green */
  border: 2px solid rgb(44, 1, 143);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px 50px 30px 5px;
 
}

#sorting > input:hover {
  background-color: var(--main-color);
}
.titles {
  display: block;
  border-left: 3px solid var(--main-color);;
  margin: 1em;
  padding: 5px;
  background: rgba(192, 192, 192, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.titles:hover {
  background: rgb(199, 199, 199);
}
.title {
  font-size: 1.3em;
}
.flex-container-1 {
  display: flex;
}

.flex-container-1 > * {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.vote-amount > p {
  margin:0;
  font-size: 1em;
}
.vote > form > button {
  font-size: 1em;
  background-color:transparent; 
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  color: rgb(41, 43, 46);
}

.vote > form > button:hover {
  color: rgb(78, 137, 247);
}


.flex-container-2 {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}

.flex-container-2 > ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5px;
}
.flex-container-2 > ul > li  {
  float: left;
  padding: 5px;
  margin-top: 3px;
  margin-right: 3px;
  color: white;
  border-radius: 10%;
  font-size: 0.8em;
  background-color:var(--main-color); 
  text-align: center;
}


/*Votes*/
.titles > p {
  text-align: center;
  grid-area: vote;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.titles > footer {
  grid-area: footer;
  text-align: right;
}



/*
  Messages
*/

body > #messages div {
  max-width: 40em;
  margin: 0 auto; 
  padding: 1em;
  text-align: center;
}

body > #messages .error {
  color: var(--error-fg-color);
  background-color: var(--error-bg-color);
}

body > #messages .success {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}