/**
 * Body
 */

 body {
  text-align: center;
  background-image: url(../../res/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  --bg-color: rgb(0, 85, 160);
  --panel-color: rgb(2, 32, 66);
  --background-blue: rgb(33, 91, 124);
  --active: rgb(37, 156, 117);

  --main-color: rgb(36, 68, 156);

  --dark-color: #333;
  --light-color: rgb(204, 204, 204);

  --serif-font: 'Merriweather';
  --sans-font: 'Open Sans Condensed';

  --success-bg-color: #DFF2BF;
  --success-fg-color: #4F8A10;

  --error-bg-color: #FFD2D2;
  --error-fg-color: #D8000C;

  background-color: var(--bg-color);
}

textarea {
  font-family: var(--serif-font), serif;
}

/**
 * Generic
 */

a, p, input, li {
  font-family: var(--serif-font), serif;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--serif-font), sans-serif;
}

button {
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

input[type=text],input[type=textarea], input[type=password] {
  box-sizing: border-box;

  padding: 1em;

  border: 1px solid var(--background-blue);

  color: white;

  background-color: rgba(2, 32, 66,0.7);
}

input[type=textarea]{
  width: auto;
  height: auto;
}

input[type="submit"], input[type="button"],input[type="file"],label[for="file"] {
  padding: 0.6em;
  margin: 0.5em;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  background: var(--background-blue);
  color: var(--panel-color);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;

  border:none;
  border-radius: 2px;

  text-transform: uppercase;
}

.account > nav > ul{
  padding: auto;
}
input[type=submit]:hover, input[type="file"]:hover,label[for="file"]:hover,input[type="button"]:hover{
  background-color: var(--active);
  color: white;
}

/**
 * Login
 */

 #login, #signup {
  width: 30em;

  margin: 2em auto;

  border: 1px solid var(--light-color);

  background: rgb(2, 32, 66);
}

#login header, #signup header {
  color: var(--panel-color);
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  background: rgb(2, 32, 66);  
}

#login header h2, #signup header h2 {
  margin: 0;
}

#login form, #signup form {
  margin: 0;
  padding: 1em;

  background-color: var(--panel-color);
} 

#login input, #signup input {
  display: block;
  margin: 1em 0;
  width: 100%;
}

#login footer p, #signup footer p {
  margin: 0;
  padding-bottom: 2em;

  text-align: center;
  background-color: var(--panel-color);
}

.login-header {
  padding: 5px;
  background-color: rgba(53, 120, 184,0.6);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.login-flexbox {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

.login-flexbox > a:not(.active) {
  text-align: center;
  font-size: 0.7em;
  color: white;
  background: rgb(58, 56, 56);
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  background: var(--active);
  text-align: center;
  font-size: 0.7em;
  color: white;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Navbar*/
.header-flexbox {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(53, 120, 184);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.header-flexbox > div > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-flexbox > div > nav > ul > li > a:hover {
  color: #ffffff;
}

.header-flexbox > div > nav > ul > li {
  list-style-type: none;
  float: left;
}

.header-flexbox > div > nav > ul > li > a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #b3b0b0;
  display: block;
  transition: 0.3s;
}
.account > nav > ul{
  padding: auto;
}

/**
* Profile
*/

.profile {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(192, 192, 192, 0.541);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.profile > a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.editProfile {
  color: white;
  background-color: var(--main-color);
  text-align: center;
  max-width: 292px;
  margin: auto;
  font-size: 18px;
  padding: 5px;
}
.editProfile > a {
  color: white;
}

.editProfile:hover {
  opacity: 0.7;
}

/**
*Stories
*/


.story {
  display: block;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.storytext {
  text-align: left;
  margin-left: 5px;
}
.comments {
  padding: 10px;
}
.comment-op > p{
  margin:0;
}

.comment-text {
  padding-left: 10px;
}

.hide-comments > button {
  font-size: 1.5em;
  background: transparent;
}
.parent-comment {
  text-align: left;
  border-left: 3px solid var(--main-color);
  padding: 5px;
  background: rgba(135, 159, 182, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.parent-comment:hover {
  background: rgba(255, 255, 255, 0.541);
}
.submitted-comment {
  font-size: 0.7em;
}
.submitted-comment > span {
  font-size: 2em;
  color: rgba(53, 120, 184,0.6);
}

#addComment {
  display: flex;
}
textarea {
  margin-left: 9px;
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid var(--background-blue);
  color: white;
  background-color: rgba(2, 32, 66,0.7);
  resize: none;
}

#addComment > input[type="submit"] {
  font-size: 1em;
  padding: 0.4em;
  margin: 0;
  margin-left: 2px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  background: var(--background-blue);
  color: var(--panel-color);

  font-family: Arial, Helvetica, sans-serif;
  border:none;
  border-radius: 2px;
  text-transform: uppercase;
}
#addComment > input[type="submit"]:hover {
  background-color: var(--active);
  color: white;
}
.post {
  display: block;
  border: 3px solid var(--main-color);;
  margin: 1em;
  padding: 10px;
  background: rgba(192, 192, 192, 0.541);
  
}

.storyimg > img {
    display: block;
    max-width:60%;
    max-height:30%;
    width: auto;
    height: auto;
}
/*Home / All / Channel*/
.title {
  overflow:hidden;
}
.flex-container-3 {
  display: flex;
  font-size: 1.5em;
}

#stories {
  display: block;
}
#list {
  margin-bottom: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#sorting {
  padding: 5px;
  background: rgba(240, 250, 249, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 5px;
  
}

#sorting > input {
  font-size: 16px;
  background-color: var(--background-blue);
  -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
 
}

#sorting > input:hover {
  background-color:var(--active);
}
.titles {
  display: block;
  border-left: 3px solid var(--main-color);;
  margin: 1em;
  padding: 5px;
  background: rgba(255, 255, 255, 0.541);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.titles:hover {
  background: rgba(255, 255, 255,0.9);
}
.title {
  font-size: 1.3em;
}
.flex-container-1 {
  display: flex;
}

.flex-container-1 > * {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.vote-amount > p {
  margin:0;
  font-size: 1em;
}
.vote  > button {
  font-size: 1em;
  background-color:transparent; 
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
/* Make votes highlighted */
#v1 > button {
  color: rgb(78, 137, 247);
}
#v0 > button {
  color: rgb(41, 43, 46);
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}
.flex-container-2 > div > img {
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
}
.flex-container-2 > ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5px;
}
.flex-container-2 > ul > li  {
  font-size: 0.7em;
  float: left;
  padding: 5px;
  margin-top: 3px;
  margin-right: 3px;
  color: white;
  border-radius: 10%;
  font-size: 0.8em;
  background-color:var(--main-color); 
  text-align: center;
}
.flex-container-2 > ul > li > a {
  color: white;
}

.flex-container-2 > footer {
  font-size: 0.8em;
}

.num-comments {
  color: black;
  padding: 1px;
  background: rgba(192, 192, 192, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 11px;
  margin-bottom: 1px;
}

.num-comments:hover {
  background:rgba(189, 197, 221, 0.4);
}


/*Votes*/
.titles > p {
  text-align: center;
  grid-area: vote;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.channel-flexbox {
  display: block;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: auto;

}
.channel {
  font-size: 2em;
  text-transform: capitalize;
  color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

#channelInfo > form > button {
  background-color: rgb(0, 102, 128); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid #333;
}
#channelInfo > form  > button:active {
  background-color: rgb(23, 67, 78);
}

.subscribers {
  margin-top: 5px;
  text-transform: capitalize;
  color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px; 
}

/*Channels*/
.channels {
  box-sizing: border-box;
}
 
.channels > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 
.channels > ul > li {
  border: 1px solid #506a8b;
  margin-top: -1px; /* Prevent double borders */
  background-color: #799fd1;
  padding: 12px;
}.channels > ul > li > a {
  color: #333;
}
 
.channels > ul > li a:hover {
  color: #666;
}
 
.channels > ul > li.active a {
  font-weight: bold;
  color: #333;
}

/*
  Messages
*/

body > #messages div {
  max-width: 40em;
  margin: 0 auto; 
  padding: 1em;
  text-align: center;
}

body > #messages .error {
  color: var(--error-fg-color);
  background-color: var(--error-bg-color);
}

body > #messages .success {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}

/* New Story */
.new-element {
  border-radius: 5px;
  background-color: #799fd1;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.new-element > form > input[type="text"],.new-element > form > textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.new-element > form > textarea {
  height: 100px;
  float: left;
  margin-left: 0;
}

.new-element > form > input, .new-element > form > input, .new-element > form > input, .new-element > form > label {
  margin-top: 20px;
}

.new-element .tags, .container {
  text-align: left;
  margin-top: 20px;
  display: flow-root;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.new-element .tags input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.new-element input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.new-element input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.new-element .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.choice-select {
  position: relative;
  font-family: Arial;
}
.choice-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Search*/
#searchform {
  text-align: left;
  display: block;
}
/*Story Adder*/
.story-adder-container > form {
  display: inline;
}

.sidenav {
  text-align: left;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(53, 120, 184);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #8f8f8f;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu {
  font-size:30px;
  cursor:pointer;
  display: none;
}



@media only screen and (max-width: 768px) {
  #login, #signup {
    width: 90%;
    margin: 5%;
    max-width: 30em;
  }
  .login-flexbox > a:not(.active) {
    padding-left: 17%;
    padding-right: 17%;
  }

  .active {
    padding-left: 17%;
    padding-right: 17%;
  }

  .login-header {
    padding: 1px;
  }

  .flex-container-2 > ul {
    display: none;
  }

  .header-flexbox {
    display: none;
  }

  .menu {
    display: flex;
    padding: 10px;
    background-color: rgb(53, 120, 184);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .menu > span {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .menu > span:hover {
    color: #8f8f8f;
  }

  .new-element {
    margin: auto;
  }

  #stories .new-element {
    display: none;
  }
  
}

